@model HomePostPartialViewModel

<div class="panel panel-default zg-postpartial-panel">
    <div class="panel-heading zg-postpartial-panel-heading">
        <div>
            <h1><a href="@Url.RouteUrl("Show", new { year = Model.Post.Created.Year, month = Model.Post.Created.Month, day = Model.Post.Created.Day, titleUrl = Model.Post.TitleUrl })">@Model.Post.Title</a></h1>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            var routeValues = new { titleUrl = Model.Post.TitleUrl };
            var ajaxOptions = new AjaxOptions { OnSuccess = "updateLikeButton" };
            var htmlAttributes = new { @class = "zg-postpartial-panel-heading-like" };

            using (Ajax.BeginForm("LikePost", routeValues, ajaxOptions, htmlAttributes))
            {
                <span class="zg-postpartial-panel-heading-like-counter" data-zg-postid="@Model.Post.Id" style="font-size: 2em;">@Model.Post.LikersIds.Count</span>
                <button class="zg-postpartial-panel-heading-like-button @(Model.Post.LikersIds.Contains(IdentityHelper.CurrentUser.Id) ? "zg-likes" : null)" data-zg-postid="@Model.Post.Id" type="submit">❤</button>
            }
        }
        else
        {
            <div class="zg-postpartial-panel-heading-like">
                <span class="zg-postpartial-panel-heading-like-counter" data-zg-postid="@Model.Post.Id" style="font-size: 2em;">@Model.Post.LikersIds.Count</span>
                <button class="zg-postpartial-panel-heading-like-button" style="cursor: default">❤</button>
            </div>
        }
    </div>
    <div class="panel-body" style="@(Model.IsHomePageMode ? "height: 7em; overflow: hidden;" : null)">
        @Html.Raw(Model.Post.ParsedContent)
    </div>
    <div class="panel-footer">
        <div>@Translation.ClickToExpand</div>
        <div>@Translation.ClickToCollapse</div>
        <div>@Model.Post.Comments.Count @Translation.Comments</div>
        @if (User.Identity.IsAuthenticated && (User.IsInRole("Administrator") || Model.Post.BloggerId.Equals(IdentityHelper.CurrentUser.Id)))
        {
            @Html.RouteLink(Translation.Edit, "Edit", new { year = Model.Post.Created.Year, month = Model.Post.Created.Month, day = Model.Post.Created.Day, titleUrl = Model.Post.TitleUrl }, new { @class = "btn btn-xs btn-primary" })

            var routeValues = new { titleUrl = Model.Post.TitleUrl };
            var htmlAttributes = new { style = "display: inline;" };

            using (Html.BeginForm("Delete", "Home", routeValues, FormMethod.Post, htmlAttributes))
            {
                <button class="btn btn-xs btn-danger" type="submit">@Translation.Delete</button>
            }
        }
    </div>
</div>