@using ZigBlog.Translations

@model ZigBlog.Models.ViewModels.HomeNewViewModel

@{
    ViewBag.Title = "New";
}

<h2>New</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(x => x.Title)
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", style = "max-width: none" })
        @Html.ValidationMessageFor(x => x.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Content)
        <div class="zg-editor">
            <div class="zg-editor-bar">
                <button class="zg-editor-bar-btn zg-editor-bar-btn-undo" tabindex="-1">undo</button>
                <button class="zg-editor-bar-btn zg-editor-bar-btn-redo" tabindex="-1">redo</button>
                <button class="zg-editor-bar-btn zg-editor-bar-btn-bold" tabindex="-1">bold</button>
                <button class="zg-editor-bar-btn zg-editor-bar-btn-italic" tabindex="-1">italic</button>
                <button class="zg-editor-bar-btn zg-editor-bar-btn-heading" tabindex="-1">heading</button>
                <button class="zg-editor-bar-btn zg-editor-bar-btn-code" tabindex="-1">code</button>
                <button class="zg-editor-bar-btn zg-editor-bar-btn-ullist" tabindex="-1">ullist</button>
                <button class="zg-editor-bar-btn zg-editor-bar-btn-ollist" tabindex="-1">ollist</button>
                <button class="zg-editor-bar-btn zg-editor-bar-btn-indent" tabindex="-1">indent</button>
                <button class="zg-editor-bar-btn zg-editor-bar-btn-outdent" tabindex="-1">outdent</button>
                <button class="zg-editor-bar-btn zg-editor-bar-btn-link" tabindex="-1">link</button>
                <button class="zg-editor-bar-btn zg-editor-bar-btn-img" tabindex="-1">img</button>
                <button class="zg-editor-bar-btn zg-editor-bar-btn-hr" tabindex="-1">hr</button>
                <button class="zg-editor-bar-btn zg-editor-bar-btn-h0" tabindex="-1">h0</button>
                <button class="zg-editor-bar-btn zg-editor-bar-btn-h1" tabindex="-1">h1</button>
                <button class="zg-editor-bar-btn zg-editor-bar-btn-h2" tabindex="-1">h2</button>
                <button class="zg-editor-bar-btn zg-editor-bar-btn-h3" tabindex="-1">h3</button>
                <button class="zg-editor-bar-btn zg-editor-bar-btn-h4" tabindex="-1">h4</button>
                <button class="zg-editor-bar-btn zg-editor-bar-btn-h5" tabindex="-1">h5</button>
                <button class="zg-editor-bar-btn zg-editor-bar-btn-h6" tabindex="-1">h6</button>
                <button class="zg-editor-bar-btn zg-editor-bar-btn-tab" tabindex="-1">tab</button>
                <button class="zg-editor-bar-btn zg-editor-bar-btn-untab" tabindex="-1">untab</button>
            </div>
            @Html.TextAreaFor(x => x.Content, new { @class = "zg-editor-area", id = "editor" })
            <div class="zg-editor-preview" id="editorOutput"></div>
        </div>
        @Html.ValidationMessageFor(m => m.Content)
    </div>

    <button class="btn btn-primary" type="submit">@Translation.Post</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/zgeditor")
}