@model Post

@{
    ViewBag.Title = "Show";
}

@Html.Partial("_Post", new HomePostPartialViewModel { Post = Model, IsHomePageMode = false })

<h3 style="margin-bottom: 1em; margin-top: -1em;">
    @Translation.CommentsSection <small>@Translation.CommentsSectionSmall</small>
</h3>

@if (User.Identity.IsAuthenticated)
{
    @Html.Partial("_PostComment", new HomePostCommentPartialViewModel { Comment = new Comment { PostId = Model.Id }, IsTopLevel = true })
}
else
{
    <div class="panel panel-default">
        <div style="margin: .8em;">@Translation.CantComment1 @Html.ActionLink(Translation.UserSignUp, "SignUp", "User") @Translation.CantComment2 @Html.ActionLink(Translation.UserSignIn, "SignIn", "User").</div>
    </div>
}

<div id="commentsRootTopLevel">
    @foreach (var comment in Model.Comments)
    {
        Html.RenderPartial("_Comment", comment);
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/zgpostpartial")

    <script type="text/javascript">
        /// <reference path="~/Scripts/jquery-2.1.4.js"/>

        'use strict';

        function onSuccessPostComment(data) {
            console.log('onSuccessPostComment');
            console.log(data);
            console.log('---');

            // Appends the new comment to the aproprieate comments root
            $('#commentsRoot' + (data.IsTopLevel ? 'TopLevel' : data.ParentId)).append(data.PartialView);

            console.log('#commentsRoot' + (data.IsTopLevel ? 'TopLevel' : data.ParentId));
            console.log(data.PartialView);

            // Clears the textarea that originated this new comment
            $('#form' + (data.IsTopLevel ? 'TopLevel' : data.PartialId) + " textarea").val(null);

            console.log('#form' + (data.IsTopLevel ? 'TopLevel' : data.PartialId) + " textarea");

            window.location.href = window.location.href + '#comment' + data.PartialId;
        }

        function onFailurePostComment(data) {
            console.log('onFailurePostComment');
            console.log(data);
            console.log('---');
        }
    </script>
}
