@using ZigBlog.Models
@using ZigBlog.Models.ViewModels
@using ZigBlog.Common.Identity

@model HomeShowViewModel

@{
    ViewBag.Title = "Show";
}

@helper CommentPostForm()
{
    var routeValues = new { titleUrl = Model.Post.TitleUrl };
    var ajaxOptions = new AjaxOptions { OnSuccess = "updateCommentsSection" };

    using (Ajax.BeginForm("PostComment", routeValues, ajaxOptions))
    {
        <div class="panel panel-default">
            <div style="display: flex; margin: .8em;">
                <div style="width: 5em;">
                    <img style="height: 5em;" src="avatar.png">
                    <div style="text-align: center;">Zignd</div>
                </div>
                <textarea name="" style="width: 100%; max-width: none; margin: 0em .8em;">Pellentesque sed condimentum lectus. Curabitur justo tortor, vestibulum at elementum at, posuere quis ex. Sed eget aliquam nibh. Proin lacinia pretium ipsum, ac lacinia lectus. Nullam sed ex id mauris tincidunt tincidunt.Integer pulvinar, ligula sed tristique ornare, eros mauris dapibus enim, sit amet fermentum neque elit et felis. Duis finibus sem quis sem lacinia, eu tristique augue volutpat.Nulla sed nulla finibus, malesuada lorem in, convallis est.</textarea>
            </div>
            <div class="panel-footer">
                <button class="btn btn-sm btn-primary">Submit</button>
            </div>
        </div>
    }
}

@helper Comment(Comment comment) {
    <div class="panel panel-default">
        <div style="display: flex; margin: .8em;">
            <div style="width: 5em;">
                <img style="height: 5em;" src="avatar.png">
                <div style="text-align: center;">Zignd</div>
            </div>
            <div style="margin-left: .8em">Pellentesque sed condimentum lectus. Curabitur justo tortor, vestibulum at elementum at, posuere quis ex. Sed eget aliquam nibh. Proin lacinia pretium ipsum, ac lacinia lectus. Nullam sed ex id mauris tincidunt tincidunt.Integer pulvinar, ligula sed tristique ornare, eros mauris dapibus enim, sit amet fermentum neque elit et felis. Duis finibus sem quis sem lacinia, eu tristique augue volutpat.Nulla sed nulla finibus, malesuada lorem in, convallis est.</div>
        </div>
        <div class="panel-footer" style="display: flex; align-items: center; justify-content: space-between;">
            <div style="display: flex; align-items: center;">
                <span class="zg-postpartial-panel-heading-like-counter" style="font-size: 1.08em;">3</span>
                <button class="zg-postpartial-panel-heading-like-button" style="font-size: 1.9em; margin-left: -0.3em;">❤</button>
            </div>
            <button class="btn btn-sm btn-default">Reply</button>
        </div>
    </div>
    <div style="padding-left: 2em;border-left: 1px dashed darkgray;">
        @foreach (var child in comment.Children)
        {
            @Comment(child)
        }
    </div>
}

@Html.Partial("_Post", new HomePostPartialViewModel { Post = Model.Post, IsHomePageMode = false })

@CommentPostForm()

@foreach (var comment in Model.Post.Comments)
{
    @Comment(comment)
}

@section Scripts {
    @Scripts.Render("~/bundles/zgpostpartial")
}