@model Post

@{
    ViewBag.Title = "Show";
}

@Html.Partial("_Post", new HomePostPartialViewModel { Post = Model, IsHomePageMode = false })

<h3 style="margin-bottom: 1em; margin-top: -1em;">
    @Translation.CommentsSection <small>@Translation.CommentsSectionSmall</small>
</h3>

@if (User.Identity.IsAuthenticated)
{
    Html.RenderPartial("_PostComment", new HomePostCommentPartialViewModel { PostId = Model.Id, IsTopLevel = true });
}
else
{
    <div class="panel panel-default">
        <div style="margin: .8em;">@Translation.CantComment1 @Html.ActionLink(Translation.UserSignUp, "SignUp", "User") @Translation.CantComment2 @Html.ActionLink(Translation.UserSignIn, "SignIn", "User").</div>
    </div>
}

<div id="commentsRootTopLevel">
    @foreach (var comment in Model.Comments)
    {
        Html.RenderPartial("_Comment", comment);
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/zgpostpartial")
    @Scripts.Render("~/bundles/zgcommentpartial")
}
