@model UserUpdateViewModel

@helper Role(string role, bool isInRole)
{
    <input class="zg-role-checkbox" type="checkbox" data-zg-username="@Model.UserName" data-zg-role="@role" @(isInRole ? "checked" : null) />
    <span class="glyphicon glyphicon-refresh zg-glyphicon-refresh-animate" style="display: none;" data-zg-username="@Model.UserName" data-zg-role="@role"></span>
}

<tr>
    <td>@Html.ActionLink(Model.UserName, "Profile", new { userName = Model.UserName })</td>
    <td>@Role("Administrator", Model.IsAdministrator)</td>
    <td>@Role("Blogger", Model.IsBlogger)</td>
    <td>@Role("Commenter", Model.IsCommenter)</td>
    <td><span class="glyphicon glyphicon-edit"></span></td>
    <td><span class="glyphicon glyphicon-trash"></span></td>
</tr>