@model UserUpdateViewModel

@{ 
    var ajaxOptions = new AjaxOptions { OnSuccess = "onSuccessUpdate", OnFailure = "onFailureUpdate", OnBegin = "onBeginUpdate", OnComplete = "onCompleteUpdate" };
}

@using (Ajax.BeginForm("Update", ajaxOptions))
{
    <tr>
        @Html.HiddenFor(x => x.Id)
        <td>@Html.ActionLink(Model.UserName, "Profile", new { userName = Model.UserName })</td>
        <td>@Html.CheckBoxFor(x => x.IsAdministrator, new { @class = "zg-role-checkbox" })</td>
        <td>@Html.CheckBoxFor(x => x.IsBlogger, new { @class = "zg-role-checkbox" })</td>
        <td>@Html.CheckBoxFor(x => x.IsCommenter, new { @class = "zg-role-checkbox" })</td>
        <td><span class="glyphicon glyphicon-edit"></span></td>
        <td><span class="glyphicon glyphicon-trash"></span></td>
    </tr>
}