@model UserSignUpViewModel

@{
    ViewBag.Title = Translation.UserSignUp;
}

<h2>@Translation.UserSignUp <small>@Translation.SignUpDescription</small></h2>

@using (Html.BeginForm("SignUp", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true);
    
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.ReturnUrl)

    <div class="form-group">
        @Html.LabelFor(x => x.Avatar)
        <input accept="image/jpeg,image/png,image/gif" name="Avatar" type="file"/>
        <p class="help-block">@Translation.AvatarImageUploadHelp</p>
        @Html.ValidationMessageFor(x => x.Avatar)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Username)
        @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Username)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Password)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(x => x.PasswordConfirmation)
        @Html.PasswordFor(x => x.PasswordConfirmation, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PasswordConfirmation)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(x => x.EmailAddress)
        @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control", type = "email" })
        @Html.ValidationMessageFor(x => x.EmailAddress)
    </div>

    if (User.IsInRole("Administrator"))
    {
        <div class="form-group">
            @Html.LabelFor(x => x.Role)
            @Html.EnumDropDownListFor(x => x.Role, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Role)
        </div>
    }

    <div class="form-group">
        @Html.CheckBoxFor(x => x.AcceptTerms)
        @Html.LabelFor(x => x.AcceptTerms)
        @Html.ValidationMessageFor(x => x.AcceptTerms)
    </div>
    
    <button type="submit" class="btn btn-primary">@Translation.UserSignUp</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/zgsignup")
}

