@using ZigBlog.Common.Database
@using ZigBlog.Common.Identity
@using ZigBlog.Models
@using ZigBlog.Translations

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="icon" href="~/Content/Images/favicon.png"/>
    @Styles.Render("~/Content/css")
    @RenderSection("Style", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Page", "Home")">
                    <img src="~/Content/Images/favicon.png" style="height: 1.0em; vertical-align: top; display: inline" />
                    <span style="margin-left: .1em">@(ZigBlogDb.Parameters.BlogTitle)</span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Page", "Home")">@Translation.HomePage</a></li>
                    <li><a href="@Url.Action("About", "Home")">@Translation.About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (IdentityHelper.CurrentUser.Roles.Contains("Commenter"))
                        {
                            <li><a href="@Url.Action("New","Post")">@Translation.WriteNewPost</a></li>
                        }

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button">@User.Identity.Name <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Profile", "User", new { arg = User.Identity.Name })">@Translation.Profile</a></li>
                                <li><a href="@Url.Action("SignOut", "User")">@Translation.SignOut</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("SignUp", "User")">@Translation.UserSignUp</a></li>
                        <li><a href="@Url.Action("SignIn", "User")">@Translation.UserSignIn</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>